#mainBody {
    background-color:beige;
    }
#secondPage {
    background-color: lightskyblue;  
} 

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#section {
    display: block;
}
table, th, td{
    border:1px solid black;
    border-collapse: collapse;
}